@page
@inject IConfiguration configuration;

<!DOCTYPE html>
<html>

<head>
    <title>CentralServer</title>
</head>

<body>
    <h1>Central Server</h1>
    <p>The server is running. To continue, start one of the client apps.</p>
<ul>
    <li><a href='@configuration["Apps:Client:Origin"]'>Main Client</a></li>
    <li><a href='@configuration["Apps:MissionControl:Origin"]'>Mission Control</a></li>
</ul>
</body>

</html>
