@page "/p/{Id}/{Name}"
@using Cherry.Client.Pages.Inventory
@attribute [AllowAnonymous]
@if (SelectedProduct != null)
{
    <PartDetails Product="@SelectedProduct"/>
}
else
{
    <p>Gibbet nicht</p>
}


@code
{
    [Parameter] public string Id { get; set; }
    [Parameter] public string Name { get; set; }
    [CascadingParameter] public Product? SelectedProduct { get; set; }
    [Inject] DataSynchronizer DataSynchronizer { get; set; }
    [Inject] CherryData.CherryDataClient cherryDataClient { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        await EnsureProduct();
        await base.OnParametersSetAsync();
    }

    private async Task EnsureProduct()
    {
        SelectedProduct ??= App.Instance.SelectedProduct;
        if (SelectedProduct == null)
        {
            var db = await DataSynchronizer.GetPreparedDbContextAsync();
            SelectedProduct = await db.FindAsync<Product>(Id) ?? await cherryDataClient.GetProductAsync(new ProductRequest {Id = Id});
        }
    }
}
